<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

{% comment %} Maps dependencies {% endcomment %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8Iydn7MNq6lyt3UxxUK2r8VcRWyriSEw&callback=initMap&libraries=&v=weekly" defer></script>

{% comment %} <script src="http://www.openlayers.org/api/OpenLayers.js"></script> {% endcomment %}
{% comment %} <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css"> {% endcomment %}