{% include "header.html" %}
<style>
	#map {
		height: 800px;
		width: 100%;
	}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-2">
			<!-- This is The infopannel -->
			<div class="card" style="width: 15rem;">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Wellcome to FuelGr</h5>
				  <p class="card-text">Click on a station to view data and place orders</p>
				  <a href="#" class="btn btn-primary">More info</a>
				</div>
			  </div>

		</div>
		<div class="col-10">
			<div id="map"></div>

			<script type="text/javascript">

				function initMap() {
					var map = new google.maps.Map(document.getElementById("map"), {
						center: new google.maps.LatLng(39.6148882, 22.4303055),
						zoom: 13,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					});

					var marker;
					var markers = [];

					// Calling api when site is loaded
					$.ajax({
						type: "GET",
						url: "http://127.0.0.1:8000/api/station",
						dataType: "json",
						success: function (result, status, xhr) {
							for (var i = 0; i < result.length; i++) {
								marker = new google.maps.Marker({
									position: new google.maps.LatLng(result[i]["gasstationlat"], result[i]["gasstationlong"]),
									map: map,
									icon: "static/icons/" + result[i]["fuelcompid"] + ".png",
									title: result[i]["ddnormalname"]
								});
								google.maps.event.addListener(marker, 'click', (function (marker, i) {
									return function () {
										// On click function goes here
										infowindow.setContent(locations[i][0]);
										infowindow.open(map, marker);
									}
								})(marker, i));
								markers.push(marker);
							}
						},
						error: function (xhr, status, error) {
							alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
						}
					});
				}



			</script>
		</div>
	</div>
</div>
</div>