{% include "header.html" %}
<style>
	#map {
		height: 800px;
		width: 100%;
	}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-2">
			<!-- This is The infopannel -->
			<div class="card" style="width: 15rem;">
				<img src="..." class="card-img-top" alt="..." id="DetailsImage" style="width: 25%;">
				<div class="card-body">
					<h5 class="card-title" id="InfoTitle">Wellcome to FuelGr</h5>
					<p class="card-text" id="InfoDets">Click on a station to view data and place orders</p>
					<a href="#" class="btn btn-primary">More info</a>
				</div>
			</div>
			<br>
			<div class="card" style="width: 15rem;">
				<ul class="list-group list-group-flush" id="fuelList">
				  <!-- This is where fuel prices go -->
				</ul>
			  </div>

		</div>
		<div class="col-10">
			<div id="map"></div>

			<script type="text/javascript">

				function inspectStation(stationId) {
					$.ajax({
						type: "GET",
						url: "http://127.0.0.1:8000/api/station/" + stationId.toString(),
						dataType: "json",
						success: function (result, status, xhr) {
							document.getElementById("InfoTitle").innerHTML = result["gasstationowner"];
							document.getElementById("InfoDets").innerHTML = result["gasstationaddress"];
							document.getElementById("DetailsImage").src = "static/icons/" + result["fuelcompid"] + ".png";
							
						},
						error: function (xhr, status, error) {
							alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
						}
					});
					console.log(stationId);
					$.ajax({
						type: "GET",
						url: "http://127.0.0.1:8000/api/price/" + stationId.toString(),
						dataType: "json",
						success: function (result, status, xhr) {
							document.getElementById("fuelList").innerHTML = "";
							for (var i = 0; i < result.length; i++) {
								document.getElementById("fuelList").innerHTML += "<li class='list-group-item'>" + result[i]["fuelnormalname"] + result[i]["fuelprice"] + "</li>" ;
							}
						},
						error: function (xhr, status, error) {
							alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
						}
					});
				}

				function initMap() {
					var map = new google.maps.Map(document.getElementById("map"), {
						center: new google.maps.LatLng(39.6148882, 22.4303055),
						zoom: 13,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					});

					var marker;
					var markers = [];

					// Calling api when site is loaded
					$.ajax({
						type: "GET",
						url: "http://127.0.0.1:8000/api/station",
						dataType: "json",
						success: function (result, status, xhr) {
							for (var i = 0; i < result.length; i++) {
								marker = new google.maps.Marker({
									position: new google.maps.LatLng(result[i]["gasstationlat"], result[i]["gasstationlong"]),
									map: map,
									icon: "static/icons/" + result[i]["fuelcompid"] + ".png",
									title: result[i]["gasstationowner"]
								});
								var id = result[i]["gasstationid"];
								google.maps.event.addListener(marker, 'click', (function (marker, id) {
									return function () {
										// On click function goes here
										inspectStation(id);
									}
								})(marker, id));

								markers.push(marker);
							}
						},
						error: function (xhr, status, error) {
							alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
						}
					});
				}



			</script>
		</div>
	</div>
</div>
</div>